# =====================
# Environment variables
# =====================
.env

# =====================
# Python (Backend)
# =====================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Node (Frontend)
# =====================
node_modules/
dist/
.build/
.vite/

# =====================
# OS & Editor junk
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =====================
# Logs
# =====================
*.log

# =====================
# MongoDB local data (if any)
# =====================
data/
