@import "tailwindcss";




body {
  background: linear-gradient(135deg, #eef2ff, #f8fafc);
}


/* index.css */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}

